body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #4a4a77;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

h2 {
    color: #4a4a77;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

ul li:hover {
    background-color: #e0e0ff;
    transform: translateY(-5px);
}

a {
    text-decoration: none;
    color: #4a4a77;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #333;
}